In [ ]:
#!conda install Faker -y

In [1]:
import psycopg2
import os, getpass
from faker import Faker

Python Faker tutorial shows how to generate fake data in Python with Faker package. We use the joke2k/faker library.
http://zetcode.com/python/faker/

In [2]:
conn = psycopg2.connect(database="jupyterdb", user=getpass.getuser()) #create the database before doing thisa
cur = conn.cursor()

In [7]:
conn.autocommit = True  # make ever time you execute a single database transaction.

In [5]:
cur.execute(
    """
    DROP TABLE IF EXISTS psycopg_test;
    CREATE TABLE psycopg_test (id serial PRIMARY KEY, name text, email text);
    """)

In [6]:
cur.execute("INSERT INTO psycopg_test (name, email) VALUES (%s, %s)",('sean', 'sean.reed@galvanize.com') )

In [8]:
cur.execute("SELECT * FROM psycopg_test;")

In [10]:
cur.fetchone()

(1, 'sean', 'sean.reed@galvanize.com')

In [ ]:
cur.fetchone() #None. Cursor has reached the end. No more values to return.

In [11]:
cur.scroll(0,'absolute')

In [12]:
cur.fetchone()

(1, 'sean', 'sean.reed@galvanize.com')

In [13]:
cur.fetchone() #None

In [ ]:
#conn.rollback()

In [ ]:
conn.autocommit = True

In [14]:
fake_data = Faker()

fake = [(fake_data.name(), fake_data.email()) for _ in range(20)]

fake

[('Dr. Sarah Drake', 'wagnerjohnathan@fox.org'),
 ('Rachel Simon', 'virginiamartin@yahoo.com'),
 ('Miguel Baker', 'david44@rodriguez-simon.biz'),
 ('Clayton Woodard', 'jefferyroberts@burton.com'),
 ('Shannon Hall', 'mitchellkathleen@gmail.com'),
 ('Terrence Anderson', 'moranstephanie@hotmail.com'),
 ('Timothy Harper', 'marybell@hotmail.com'),
 ('James Rivas', 'snowjulie@gmail.com'),
 ('Tracey Knight', 'daniellemoore@wells.info'),
 ('Ann Carter', 'tylerwilliamson@frazier.com'),
 ('Jennifer Holmes', 'kenneth37@massey.com'),
 ('Julie Thomas', 'dayalison@cox-nelson.info'),
 ('Megan Garner', 'jamesgilbert@anderson.com'),
 ('Matthew Manning', 'zkline@gmail.com'),
 ('Janice Waller', 'rickysmith@yahoo.com'),
 ('Amy Beck', 'mcintyreaaron@mills.com'),
 ('John Jacobson', 'william14@dixon.com'),
 ('Tamara Strickland', 'ybeck@gmail.com'),
 ('Michael Kane', 'akirby@romero-rose.info'),
 ('Sandra Taylor', 'douglas06@james.com')]

In [ ]:
# WITH BLOCK. BUT NOTICE, IT DOES NOT CLOSE THE CONNECTION!

In [15]:
with conn:
    cur.execute("INSERT INTO psycopg_test (name, email) VALUES (%s, %s)",(fake[0][0], fake[0][1]))

In [16]:
cur.execute("SELECT * FROM psycopg_test;")
cur.fetchone()

(1, 'sean', 'sean.reed@galvanize.com')

In [17]:
cur.fetchone()

(2, 'Dr. Sarah Drake', 'wagnerjohnathan@fox.org')

In [18]:
cur.fetchone() #None

In [19]:
q = "INSERT INTO psycopg_test (name, email) VALUES (%s, %s)"
# This works, but don't do multiple inserts this way IRL.
with conn:
    for item in fake:
            cur.execute(q,(item[0], item[1]))

In [ ]:
cur.execute("SELECT * FROM psycopg_test;")
cur.fetchall()

In [ ]:
fake_data.name(), fake_data.email()

In [ ]:
# This works, but don't do this IRL.
with conn:
    for _ in range(5):
            cur.execute("INSERT INTO psycopg_test (name, email) VALUES (%s, %s)",(fake_data.name(), fake_data.email()))

In [ ]:
#The second argument of the cur.execute command protects us from basic SQL injection

In [20]:
dir(cur)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'binary_types',
 'callproc',
 'cast',
 'close',
 'closed',
 'connection',
 'copy_expert',
 'copy_from',
 'copy_to',
 'description',
 'execute',
 'executemany',
 'fetchall',
 'fetchmany',
 'fetchone',
 'itersize',
 'lastrowid',
 'mogrify',
 'name',
 'nextset',
 'pgresult_ptr',
 'query',
 'row_factory',
 'rowcount',
 'rownumber',
 'scroll',
 'scrollable',
 'setinputsizes',
 'setoutputsize',
 'statusmessage',
 'string_types',
 'typecaster',
 'tzinfo_factory',
 'withhold']

In [25]:
#By default, cursors are client side cursors. Naming a cursor is only applicable if you do a server side cursor. 
cur.name # None.

### what does cur.mogrify() do?

In [27]:
q = "INSERT INTO psycopg_test (name, email) VALUES (%s, %s)"
cur.mogrify(q)

b'INSERT INTO psycopg_test (name, email) VALUES (%s, %s)'

In [29]:
data = (fake_data.name(), fake_data.email())

In [30]:
cur.mogrify(q,data)

b"INSERT INTO psycopg_test (name, email) VALUES ('Peter Vazquez', 'emilygarza@black.info')"

In [31]:
cur.execute("SELECT * FROM psycopg_test;")
cur.fetchall()

[(1, 'sean', 'sean.reed@galvanize.com'),
 (2, 'Dr. Sarah Drake', 'wagnerjohnathan@fox.org'),
 (3, 'Dr. Sarah Drake', 'wagnerjohnathan@fox.org'),
 (4, 'Rachel Simon', 'virginiamartin@yahoo.com'),
 (5, 'Miguel Baker', 'david44@rodriguez-simon.biz'),
 (6, 'Clayton Woodard', 'jefferyroberts@burton.com'),
 (7, 'Shannon Hall', 'mitchellkathleen@gmail.com'),
 (8, 'Terrence Anderson', 'moranstephanie@hotmail.com'),
 (9, 'Timothy Harper', 'marybell@hotmail.com'),
 (10, 'James Rivas', 'snowjulie@gmail.com'),
 (11, 'Tracey Knight', 'daniellemoore@wells.info'),
 (12, 'Ann Carter', 'tylerwilliamson@frazier.com'),
 (13, 'Jennifer Holmes', 'kenneth37@massey.com'),
 (14, 'Julie Thomas', 'dayalison@cox-nelson.info'),
 (15, 'Megan Garner', 'jamesgilbert@anderson.com'),
 (16, 'Matthew Manning', 'zkline@gmail.com'),
 (17, 'Janice Waller', 'rickysmith@yahoo.com'),
 (18, 'Amy Beck', 'mcintyreaaron@mills.com'),
 (19, 'John Jacobson', 'william14@dixon.com'),
 (20, 'Tamara Strickland', 'ybeck@gmail.com'),
 (21, 'Michael Kane', 'akirby@romero-rose.info'),
 (22, 'Sandra Taylor', 'douglas06@james.com')]

In [32]:
cur.query

b'SELECT * FROM psycopg_test;'

## What does conn.autocommit = True do? 

## Q: What happens if I don't set it?
## A: Bad things, unless you do conn.commit() after each transaction!!

### The default is conn.autocommit = False. Let's return to the default setting now.

In [34]:
conn.autocommit = False

In [40]:
data = [fake_data.name(), fake_data.email()] # data can be any iterable
data

['Ariel Wright', 'rodney91@greer.com']

In [41]:
# This won't work if conn.autocommit == False
with conn:
    for _ in range(5): #insert the same data 5 times
            cur.execute("INSERT INTO psycopg_test (name, email) VALUES (%s, %s)", data)

In [42]:
cur.execute("SELECT * FROM psycopg_test;") #NOTHING COMES BACK

### Nothing comes back because we didn't commit the transaction!!!!

In [43]:
conn.commit() # YOU MUST COMMIT AFTER EACH TRANSACTION when conn.autocommit == False

In [44]:
cur.fetchall()

[(1, 'sean', 'sean.reed@galvanize.com'),
 (2, 'Dr. Sarah Drake', 'wagnerjohnathan@fox.org'),
 (3, 'Dr. Sarah Drake', 'wagnerjohnathan@fox.org'),
 (4, 'Rachel Simon', 'virginiamartin@yahoo.com'),
 (5, 'Miguel Baker', 'david44@rodriguez-simon.biz'),
 (6, 'Clayton Woodard', 'jefferyroberts@burton.com'),
 (7, 'Shannon Hall', 'mitchellkathleen@gmail.com'),
 (8, 'Terrence Anderson', 'moranstephanie@hotmail.com'),
 (9, 'Timothy Harper', 'marybell@hotmail.com'),
 (10, 'James Rivas', 'snowjulie@gmail.com'),
 (11, 'Tracey Knight', 'daniellemoore@wells.info'),
 (12, 'Ann Carter', 'tylerwilliamson@frazier.com'),
 (13, 'Jennifer Holmes', 'kenneth37@massey.com'),
 (14, 'Julie Thomas', 'dayalison@cox-nelson.info'),
 (15, 'Megan Garner', 'jamesgilbert@anderson.com'),
 (16, 'Matthew Manning', 'zkline@gmail.com'),
 (17, 'Janice Waller', 'rickysmith@yahoo.com'),
 (18, 'Amy Beck', 'mcintyreaaron@mills.com'),
 (19, 'John Jacobson', 'william14@dixon.com'),
 (20, 'Tamara Strickland', 'ybeck@gmail.com'),
 (21, 'Michael Kane', 'akirby@romero-rose.info'),
 (22, 'Sandra Taylor', 'douglas06@james.com'),
 (23, 'Richard Hughes', 'lynchjessica@sanchez.com'),
 (24, 'Mr. Kenneth Parks DDS', 'frhodes@yahoo.com'),
 (25, 'Casey Chambers', 'ajones@gmail.com'),
 (26, 'Kayla Vang', 'denisesnyder@yahoo.com'),
 (27, 'Matthew Singh', 'amyhayes@nguyen.biz'),
 (28, 'Melissa Campbell', 'albert21@page.com'),
 (29, 'Chad Campbell', 'coxbilly@green-cole.biz'),
 (30, 'Anthony Bradley', 'youngjose@johnston.biz'),
 (31, 'Randall Lee', 'nicole57@hotmail.com'),
 (32, 'Megan Blankenship', 'riosjoshua@hotmail.com'),
 (33, 'Ariel Wright', 'rodney91@greer.com'),
 (34, 'Ariel Wright', 'rodney91@greer.com'),
 (35, 'Ariel Wright', 'rodney91@greer.com'),
 (36, 'Ariel Wright', 'rodney91@greer.com'),
 (37, 'Ariel Wright', 'rodney91@greer.com')]

In [47]:
with conn.cursor() as cur:
    cur.execute("SELECT * FROM psycopg_test;")
    conn.commit()
    cur.fetchall()

In [ ]:
cur = conn.cursor()

cur.execute("SELECT * FROM psycopg_test;")
conn.commit()
cur.fetchall()

In [ ]:
cur.fetchall()

In [ ]:
cur.scroll(0,'absolute')
cur.fetchall()

In [ ]:
conn.autocommit = True

In [ ]:
cur.close()
conn.close()